{% extends 'weather/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{% if city_lists %}
<div class="panel panel-primary">
    <div class="panel-heading"><h4>Ты с какова горада?</h4></div>
        <ul class="list-group">
        {% for c in object_list %}
            <li class="list-group-item">
                <a href="{{ c.get_absolute_url }}">
                    {% if c.local_name %}
                        {{ c.local_name }}
                    {% else %}
                        {{ c.name }}
                    {% endif %}
                </a>
            </li>
        {% empty %}
            <li>Не найдено ни одного города. Тщательнее надо!</li>
        {% endfor %}
        </ul>
    </div>
    {%if is_paginated %}
        {% comment %}
        Ниже некий хак с передачей GET параметров через paginator и bootstrap-3.
        extra=request.GET.urlencode
        Иначе теряется фильтр по маске выбора города.
        {% endcomment %}
        {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    {% endif %}
{% else %}
    <div class="">
        <span>Не найдено ни одного города. Тщательнее надо!</span>
    </div>
{% endif %}
{% endblock %}