{% extends 'weather/base.html' %}
{% load bootstrap3 %}
{% load favorite_tags %}
{% load static %}
{% block content %}
{% if object_list %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Ты с какова горада?</h4>
    </div>
    <ul class="list-group">
      {% for c in object_list %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-10 text-left">
              <a href="{{ c.get_absolute_url }}">
                {% if c.local_name %}
                  {{ c.local_name }}
                {% else %}
                  {{ c.name }}
                {% endif %}
              </a>
            </div> <!-- col-md-10 text-left -->
            <div class="col-md-1 text-right">
              {% if user.is_authenticated %} 
                {%  get_fav c user %}
              {% else %}
                {% get_fav_nouser c request %}
              {% endif %}
            </div> <!-- col-md-1 text-right -->
            <div class="col-md-1 text-right">
              {% get_fav_count c %}
            </div> <!-- col-md-1 text-left -->
          </div> <!-- row -->
        </li>
      {% empty %}
        <li>Не найдено ни одного города. Тщательнее надо!</li>
      {% endfor %}
    </ul>
  </div>
  {%if is_paginated %}
    {% comment %}
      Ниже некий хак с передачей GET параметров через paginator и bootstrap-3.
      extra=request.GET.urlencode
      Иначе теряется фильтр по маске выбора города.
    {% endcomment %}
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
  {% endif %}
  {% else %}
    <div>
      <span>Не найдено ни одного города. Еще более тщательнее надо!</span>
    </div>
{% endif %}
{% endblock %}