{% extends 'weather/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{% if city_lists %}
<div class="panel panel-primary">
    <div class="panel-heading"><h4>Ты с какова горада?</h4></div>
        <ul class="list-group">
        {% for c in object_list %}
            <li class="list-group-item">
                <a href="{{ c.get_absolute_url }}">
                    {% if c.local_name %}
                        {{ c.local_name }}
                    {% else %}
                        {{ c.name }}
                    {% endif %}
                </a>
            </li>
        {% empty %}
            <li>Не найдено ни одного города. Тщательнее надо!</li>
        {% endfor %}
        </ul>
    </div>
    {% bootstrap_pagination page_obj %}
{% else %}
    <span>{% lorem 1 p %}</span>
{% endif %}
{% endblock %}